<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CRUD Detail Mobil </title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"> 
    <link href="/webjars/bootstrap-icons/1.11.2/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
    
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-white" th:href="@{/detailmobil}">CRUD Detail Mobil</a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container-fluid"></div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- <li class="nav-item">
          <a class="nav-link" aria-current="page" th:href="@{/}">Mobil</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/sedan}">Sedan</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" th:href="@{/porsche}">Porsche</a>
          </li> -->

      </ul>
          </div>
        </div>
      </nav>

      <div class="container">
        <br>    
        <h4> Edit Detail Mobil</h4>
        <div>
            <form th:object="${detailmobil}" method="post" th:action="@{/detailmobil/update}">
            <input type="hidden" class="form-control bg-light" th:field="*{id}">
              
                <div class="form-group">
                    <label>Pilih Mobil</label>
                    <!-- <input type="text" class="form-control bg-light" th:field="*{id_mobil}"> -->
                    <select class="form-control bg-light" th:field="*{mobil.id}">
                      <option th:each="mobil: ${mobils}" th:value="${mobil.id}" th:text="${mobil.merek + '&nbsp' + mobil.model + '&nbsp' + mobil.tahun_produksi}"></option>
                  </select>
                </div>
                <br>


                <div class="form-group">
                    <label>Pilih Warna</label>
                    <select class="form-control bg-light" th:field="*{warna.id}">
                      <option th:each="warna: ${warnas}" th:value="${warna.id}" th:text="${warna.nama_warna }"></option>
                  </select>
                </div>
                <br>

                <p align="right">
                    <a class="btn btn-dark" th:href="@{/detailmobil}">Kembali</a>
                    <button class="btn btn-primary" type="submit">Kirim</button>
                </p>

            </form>

        </div>
      </div>


    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>
</html>